@import "../../style/color";
@import "../../style/breakpoints";

.button{
  height: 4rem;
  padding-inline: 1rem;
  border-radius: 0.75rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 18.5rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 116%;
  border: none;
  color: #FFFFFF;
  background-color: $accent02;
  transition: background-color 0.5s ease;
  @media screen and (max-width: $mobile){
    height: 3rem;
    font-size: 0.875rem;
    border-radius: 0.5rem;
  }
  &:hover{
    background-color: $accent03;
  }
  &:active, &:visited{
    background-color: $accent;
  }
}



