@import "../../styles/color";
@import "../../styles/breakpoints";

.wrapper{
  height: 100vh;
  background-color: $fill02;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }
}

.result{
  max-width: 39rem;
  width: 100%;
  @media screen and (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.125rem;
  }
}

.totalText{
  font-weight: 600;
  font-size: 2rem;
  line-height: 116%;
  color: $text-color;
  opacity: 0.5;
  margin-bottom: 0.5rem;
  @media screen and (max-width: $tablet){
    font-size: 1.5rem;
  }
  @media screen and (max-width: $mobile) {
    font-size: 1.125rem;
  }
}

.score{
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 116%;
  color: $text-color;
  margin-bottom: 4rem;
  @media screen and (max-width: $tablet){
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }
  @media screen and (max-width: $mobile) {
    font-size: 2rem;
  }
}
