$text-color: #1c1c21;

$accent: #e87928;
$accent02: #ff8b37;
$accent03: #ffac70;
$accent04: #fff3eb;

$danger: #ec6259;
$danger02: #fdeeed;
$success: #47d867;
$success02: #e6faea;
$fill: #d0d0d8;
$fill02: #f5f5f7;
