@import '../../styles/color';
@import '../../styles/breakpoints';

.title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 116%;
  color: $text-color;
  max-width: 39rem;
  width: 100%;
  margin-bottom: 1.5rem;
  flex: 1 1 auto;
  @media screen and (max-width: $tablet) {
    font-size: 1.5rem;
    text-align: center;
    max-width: none;
    flex: 0;
    margin-bottom: 2rem;
  }
  @media screen and (max-width: $mobile) {
    font-size: 1.125rem;
  }
}

.answers {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  max-width: 810px;
  @media screen and (max-width: $tablet) {
    row-gap: 0.625rem;
    justify-content: center;
  }
  @media screen and (max-width: $mobile) {
    gap: 0.5rem;
  }
}

.letter {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 116%;
  color: $accent02;
  margin-right: 0.5rem;
  @media screen and (max-width: $tablet) {
    font-size: 0.875rem;
  }
}

.questions {
  padding: 6.25rem 8.75rem 6.25rem 5rem;
  background-color: $fill02;
  height: 100%;
  flex: 1 1 auto;
  @media screen and (max-width: $tablet) {
    padding: 4rem;
    width: 100%;
    height: initial;
  }
  @media screen and (max-width: $mobile) {
    padding: 1rem;
  }
}

.quizInner {
  height: 100%;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $tablet) {
    justify-content: center;
  }
}
