@import "../../styles/color";
@import "../../styles/breakpoints";

.button {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  height: 2rem;
  transition: color 0.2s ease;
  position: relative;
  color: $fill;
  padding: 0;
  @media screen and (max-width: $mobile) {
    height: 2rem;
  }
  &::before, &::after{
    content: "";
    position: absolute;
    top: 50%;
    left: -50%;
    width: 100%;
    height: 1px;
    z-index: 0;
    margin: 0;
    background-color: #d0d0d8;
    transition: background-color 0.2s ease;
  }
  &::after{
    left: auto;
    right: -50%;
  }
  &.active {
    color: $accent02;
    & .text{
      color: $accent02;
    }
    &::before, &::after{
      background-color: $accent02;
    }
  }
  &.pastScore {
    color: $fill;
    & .text{
      color: $fill;
    }
  }
}

.text{
  position: absolute;
  z-index: 3;
  color: $text-color;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 116%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color 0.2s ease;
  @media screen and (max-width: $tablet){
    font-size: 0.875rem;
  }
}

.svg{
  position: relative;
  z-index: 2;
  width: 100%;
  @media screen and (max-width:$tablet){
    height: 2rem;
  }
  & path{
    transition: all 0.4s ease;
  }
}

